body {
  color: #093b1f;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.container {
  padding: 0 40px;
}

/*header styles */

header {
  padding: 30px 0;
  height: 50px;
}

header .title {
  color: #2982e8;
  float: left;
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

header nav ul {
  float: right;
}

header nav li {
  float: left;
  padding-left: 20px;
}

nav a {
  color: #093b1f;
  text-decoration: none;
}

/* Global */

a:hover {
  color: #36ab3e;
  text-decoration: underline;
}

.clearfix: after {
  content: "";
  display: block;
  clear: both;
}

h2 {
  color: #f32b24;
  font-family: 'Eczar', serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

/* index styles */

.hero {
  height: 360px;
  background-image: url(../assets/IMG_0083.png);
  background-size: contain;
  background-position: center;
}

.sort-row {
  border-top: 1px solid #2982E8;
  padding: 20px 0 0 0;
}

/* About styles */

aside.about {
  float: left;
  margin-bottom: 20px;
  margin-right: 50px;
  max-width: 38%;
}

aside.about img {
  height: auto;
  margin-bottom: 10px;
  max-width: 100%;
  size: contain;
  width: auto;
}

main.about h2, p {
  box-sizing: border-box;
}

p {
  padding-bottom: 20px;
}
