body {
  color: #093b1f;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.container {
  padding: 0 40px;
}

/*header styles */

header {
  padding: 30px 0;
  height: 50px;
}

header .title h1 {
  color: #2982e8;
  float: left;
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

header nav ul {
  float: right;
}

header nav li {
  float: left;
  padding-left: 20px;
}

nav a {
  color: #093b1f;
  text-decoration: none;
}

/* Global */

a:hover {
  color: #36ab3e;
  text-decoration: underline;
}

.clearfix: after {
  content: "";
  display: block;
  clear: both;
}

h2 {
  color: #f32b24;
  font-family: 'Eczar', serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

/* index styles */

.hero {
  height: 360px;
  background-image: url(../assets/IMG_0083.png);
  background-size: contain;
  background-position: center;
}

.sort-bar {
  border-top: 1px solid #2982E8;
  padding: 20px 0 0 0;
}

.cat-item {
  border: 1px solid rgba(69,168,250,1);
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  margin: 0 20px 20px 0;
  max-width: 350px;
  min-width: 100px;
}

.item-summary {
  border-top: 1px solid rgba(69,168,250,1);
  padding: 20px;
}

.item-summary a {
  text-decoration: none;
}

/* About styles */

aside.about {
  float: left;
  margin-bottom: 20px;
  margin-right: 50px;
  max-width: 38%;
}

aside.about img {
  height: auto;
  margin-bottom: 10px;
  max-width: 100%;
  size: contain;
  width: auto;
}

main.about h2, p {
  box-sizing: border-box;
}

p {
  line-height: 1.3;
  padding-bottom: 20px;
}

/* Detail overlay */

body.detail {
  background-color: rgba(249,246,216,.7);
}

aside.description {
}

p.dimensions {
  color: #28533C;
  font-size: 16px;
  padding-bottom: 0;
}

.detail small {
  color: #07585B;
  font-size: 14px;
  padding-bottom: 0;
}

.detail-image img {
  float: left;
  margin-right: 50px;
  width: 40%;
}

section.closebar {
  height: 60px;
  padding: 10px 0;
}

.close {
  float: right;
  max-width: 40px;
}

section.purchase {
  margin-top: 20px;
}

section.purchase p small {
  display: block;
  margin-bottom: 15px;
}

.detail h3 {
  color: #2982E8;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 40px;
}

.buy-button {
  color: white;
  background-color: #2982E8;
  border-radius: 5px;
  letter-spacing: 1px;
  font-family: 'Eczar', serif;
  font-size: 18px;
  font-weight: 400;
  padding: 3px 20px 0 20px;
  text-decoration: none;
}

