body {
  background-color: rgb(57, 61, 68,.1);
  color: rgb(57, 61, 68,1);
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.container {
  padding: 0 40px;
}

/**************************** header styles */

header {
  padding: 20px 0 10px 0;
  height: 20px;
}

header .title h1 {
  color: #2982e8;
  float: left;
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

header nav ul {
  float: right;
}

header nav li {
  float: left;
  padding-left: 20px;
}

nav a {
  color: #093b1f;
  text-decoration: none;
}

/* Global */

a:hover {
  color: #36ab3e;
  text-decoration: underline;
}

.clearfix: after {
  content: "";
  display: block;
  clear: both;
}

h2 {
  color: #f32b24;
  font-family: 'Eczar', serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

/* footer styles */

footer p {
  margin-top: 40px;
  font-size: 12px;
  text-align: center;
  color: rgb(57, 61, 68,.5);
}


/**************************** Index styles */

/*.hero {
  height: 360px;
  background-image: url(../assets/IMG_0083.png);
  background-size: cover;
  background-position: center;
}*/

/*.sort-bar {
  border-top: 1px solid #2982E8;
  padding: 20px 0 0 0;
}*/

.size-toggle {
  display: flex;
  justify-content: center;
}

a.button {
  background: white;
  border: 1px solid rgba(57, 61, 68,.3);
  border-radius: 5px;
  color: rgba(57, 61, 68,.5);
  font-size: 14px;
  font-weight: 600;
  margin: 6px;
  padding: 6px 12px;
  text-decoration: none;
}
a.button:hover {
  color: rgba(57, 61, 68,1);
}

/*a.button:active {
  color: rgba(247, 24, 24, 1);
}*/

a.button:active {
  color: rgba(247, 24, 24, 1);
}

.item-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cat-item {
  box-sizing: border-box;
  text-align: center;
  margin: 10px;
  max-width: 200px;
/*  min-width: 100px;*/
box-shadow: 0 16px 24px 2px rgba(7, 35, 79, 0.09),
            0 6px 30px 5px rgba(7, 35, 79, 0.07),
            0 8px 10px -10px rgba(7, 35, 79, 0.3);
/*  box-shadow: 0 16px 24px 2px rgba(7, 35, 79, 0.14),
              0 6px 30px 5px rgba(7, 35, 79, 0.12),
              0 8px 10px -10px rgba(7, 35, 79, 0.4);*/
}
.cat-item:hover {
/*  box-shadow: 0 16px 24px 2px rgba(7, 35, 79, 0.3),
              0 6px 30px 5px rgba(7, 35, 79, 0.3),
              0 8px 10px -10px rgba(7, 35, 79, 0.5);*/
/*  box-shadow: 0 16px 24px 2px rgba(7, 35, 79, 0.03),
              0 6px 30px 5px rgba(7, 35, 79, 0.03),
              0 8px 10px -10px rgba(7, 35, 79, 0.1);*/
}

.cat-item a {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  text-decoration: none;
}

.item-img {
  z-index: 1;
  grid-area: 1 / 1 / 3 / 2; 
}
/*.item-img:hover {

}*/

.item-summary {
  z-index: 2;
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  opacity: 0;
  padding: 10px;
}
.item-summary:hover {
    opacity: 1;
}

.item-summary h4 {
  color: rgb(57, 61, 68,1);
  font-size: 18px;
}

.item-summary p {
  color: rgb(57, 61, 68,.8);
  font-size: 13px;
  padding: 10px;
}

/* About styles */

main.about {
  box-sizing: border-box;
  display: grid;
  grid-template: 1fr / 2fr 3fr;
}

aside.pics {
  display: flex;
  flex-flow: column wrap;
  grid-column-start: 1;
}

img.about {
  max-width: 100%;
  margin-bottom: 20px;
}

aside.text {
  grid-column-start: 2;
  margin-left: 50px;
}

p {
  line-height: 1.3;
  padding-bottom: 20px;
}








/**************************** Detail overlay */

body.detail {
  background-color: rgb(57, 61, 68,.1);
}

aside.description {
}

p.dimensions {
  color: #28533C;
  font-size: 16px;
  padding-bottom: 0;
}

.detail small {
  color: #07585B;
  font-size: 14px;
  padding-bottom: 0;
}

.detail-image img {
  float: left;
  margin-right: 50px;
  max-height: 80vh;
}
.detail-image img:hover {
  background-color: red;
  box-shadow: 0 16px 24px 2px rgba(7, 35, 79, 0.14),
              0 6px 30px 5px rgba(7, 35, 79, 0.12),
              0 8px 10px -10px rgba(7, 35, 79, 0.4);
}

/*.detail-image img:hover {
  padding: 0;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}
*/

section.closebar {
  height: 60px;
  padding: 10px 0;
}

.close {
  float: right;
  max-width: 40px;
}

section.purchase {
  margin-top: 20px;
}

section.purchase p small {
  display: block;
  margin-bottom: 15px;
}

.detail h3 {
  color: #2982E8;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 40px;
}

.buy-button {
  color: white;
  background-color: #2982E8;
  border-radius: 5px;
  letter-spacing: 1px;
  font-family: 'Eczar', serif;
  font-size: 18px;
  font-weight: 400;
  padding: 3px 20px 0 20px;
  text-decoration: none;
}

@media only screen and (max-width: 599px) {
  .item-list {
    flex-flow: column wrap;
    align-items: center;
  }
  .cat-item {
    max-width: none;
  }
}


